.holis {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  background-color: #6d8891;
  font-family: "Hind", sans-serif;
}
#h1 {
  text-align: center;
  color: #aff8ec;
  font-size: 5rem;
  font-family: "Hind", sans-serif;
}
h2 {
  text-align: center;
  font-size: 2rem;
  color: blanchedalmond;
  font-family: "Hind", sans-serif;
  font-size: 2.5rem;
}
.mensaje {
  margin: 20px;
  padding: 10px;
  font-size: 2.5rem;
  box-shadow: 15px 10px 10px #09465c;
  color: blanchedalmond;
  font-weight: 600;
}
.casillero {
  /* background: linear-gradient(to right, #d25778, #e2a69d,#f0dd74,#76c7e4);*/
  background-color: #9de2de;
  color: #5472a0;
  border: 3px solid #8a8989;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  margin: 5px;
  font-size: 3rem;
  font-family: "Nerko One", cursive;
  box-shadow: 15px 10px 10px #09465c;
}

footer {
  background-color: #617980;
  color: #9daae2;
  font-family: "Nerko One", cursive;
  text-align: center;
  font-size: 2.5rem;
  padding: 25px;
  margin-top: 25px;
  width: 100% auto;
}
